.img1 {
    min-height: 35vh;
    background: url("../../assets/images.jpg");
}

.img2 {
    min-height: 35vh;
    background: url("../../assets/images.jpg");
}

.img3 {
    min-height: 35vh;
    background: url("../../assets/images.jpg");
}

